.page__not-found {
  margin-left: auto;
  margin-right: auto;
}

.container__not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link__not-found {
  font-size: 150%;
  text-decoration: underline;
};

.img__not-found {
  max-width: 100%;
  height: auto;
};
